<div class="navbar-form navbar-right">
	<form class="form-group" name="form">
		<div class="input-group">
			<input type="text"
				   id="ministry"
				   name="ministry"
				   class="form-control"
				   placeholder="{{'Ministry' | translate}}"
				   ng-model="ministry"
				   typeahead="ministry as ministry.name for ministry in ministries | filter:{name:$viewValue} | limitTo:8"
				   typeahead-editable="false"
				   required>
			<span class="input-group-btn">
        		<button class="btn btn-primary"
						type="button"
						ng-disabled="!form.$valid"
						ng-click="setMinistry()"
						translate-comment="Select Ministry button label"
						translate>Choose</button>
      		</span>
		</div>
	</form>
</div>
